.fc-event-warning {
  color: #ffa800 !important;
  border-color: #ffa800 !important;
}
.fc-event-info {
  color: #8950fc !important;
  border-color: #8950fc !important;
}
.fc-event-success {
  color: #1bc5bd !important;
  border-color: #1bc5bd !important;
}
.fc-event-danger {
  color: #f64e60 !important;
  border-color: #f64e60 !important;
}
.fc-event-light {
  color: #7e8299 !important;
  border-color: #7e8299 !important;
}
